.pointsInput {
    width: 30px;
}

table {
    border-collapse: collapse;
}

div.gameTables th, div.gameTables td, li {
    padding: 15px;
    text-align: center;
    vertical-align: text-top
}

div.gameTables li:nth-child(even) {background-color: #f2f2f2}

table#gameNumber1 th {
    background-color: #4CAF50;
    color: white;
}

table#gameNumber2 th{
    background-color: #41C3C7;
    color: white;
}

table#gameNumber3 th{
    background-color: #995EB3;
    color: white;
}

