.pointsInput {
    width: 30px;
}

table {
    border-collapse: collapse;
}

tr.gameTables th, tr.gameTables td {
    padding: 15px;
    text-align: center;
    vertical-align: text-top
}

tr.score {
    height: 50px;
}

tr.score:nth-child(even) {background-color: #f2f2f2}

table#gameNumber1 th {
    background-color: #4CAF50;
    color: white;
}

table#gameNumber2 th{
    background-color: #41C3C7;
    color: white;
}

table#gameNumber3 th{
    background-color: #995EB3;
    color: white;
}

#scoreInputForm {
    background-color: #E8E8E8;
    padding: 15px;
    border: 2px solid black;
}